header, main, footer { display: block; }

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Oxygen", sans-serif;
    font-size: 100%;
    color: #333333;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #58F4FA;
}
a:active {
    color: #444466;
}

a.image {
    opacity: 1;
}

h1 {
    margin: 0px;
    font-size: 3em;
    float: left;
    color: white;
    line-height: 70px;
}

h1 span {
    color: #69C069;
}

p {
    line-height: 1.4em;
}

button:not([disabled="disabled"]), input[type="button"]:not([disabled="disabled"]) {
    cursor: pointer;
}

body > div:first-child {
    min-height: 100%;
    position: relative;
}

header > nav, main {
    margin: 0px auto;
    width: 800px;
}

header {
    padding: 0 50px;
    max-width: 100%;
    max-height: 70px;
    overflow: hidden;
    background-color: #333333;
    color: #e6e6e6;
}

header > nav {
    line-height: 70px;
    color: #e6e6e6;
}

header > a {
    float: right;
    line-height: 70px;
}

header > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header > nav li {
    font-size: 1.5em;
    display: inline;
    cursor: default;
}

header nav li a:link, header nav li a:visited {
    color: #F4FFF7;
}

header > nav li:first-child {
    margin-right: 1.5em;
}

main {
    padding-top: 40px;
    padding-bottom: 200px;
    font-weight: 300;
}

main p:first-child, main h2:first-child {
    margin-top: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 30px 0 30px;
    background: #E8F8E5;
    text-align: center;
    outline: 10px rgba(255, 255, 255, 0.7) solid;
}

footer > div:first-child {
    padding: 0 0 0 13.3333%;
}
footer > div:last-child {
    padding: 0 13.3333% 0 0;
}

footer > div {
    width: 100%;
    overflow: auto;
    float: left;
    width: 20%;
    height: 90px;
    padding: 0 6.6666%;
}

footer .contact strong, footer .contact a {
    display: block;
}

footer img {
    display: block;
    width: auto;
    margin: 0 auto;
}

footer #createdBy {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.6em;
}

footer #login {
    position: absolute;
    bottom: 2px;
    right: 4px;
}

footer #login a {
    color: #666666;
}

/* slider */
    .startPage {
        padding-top: 400px;
        text-align: center;
    }
    
    .startPage input[type="button"] {
        font-size: 1.5em;
        padding: 15px 70px;
        background: rgb(67, 163, 67);
        border: 2px rgb(133, 219, 133) solid;
        border-radius: 5px;
        color: #E6F0FF;
    }
    
    .startPage #slider {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: absolute;
        top: 70px;
        left: 0;
    }
    
    .startPage #slider ul {
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0%;
        transition: left 500ms ease-in-out;
    }
    
    .notransition {
        transition: none !important;
    }
    
    .startPage #slider ul li {
        float: left;
        height: 100%;
    }
    
    .startPage #slider ul li img {
        width: 100%;
        height: 100%;
    }
    
    .startPage #slider #arrows {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    .startPage #slider #arrows > div > div {
        position: absolute;
        height: 70.710678119px; /* Height after 45deg rotations is 100px */
        width: 70.710678119px;
        top: 150px;
        border-color: white;
        border-width: 5px;
        transform: rotate(45deg);
        opacity: 0.5;
        transition: opacity 100ms ease-in-out;
    }
    
    .startPage #slider #arrows > div:hover > div {
        opacity: 1;
    }
    
    .startPage #slider #arrows > div:first-child > div {
        border-style: none none solid solid;
        left: 40px;
    }
    
    .startPage #slider #arrows > div:last-child > div {
        border-style: solid solid none none;
        right: 40px;
    }
    
    .startPage #slider #pageIndicators {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        text-align: center;
    }
    
    .startPage #slider #pageIndicators span {
        display: inline-block;
        height: 20px;
        width: 20px;
        background: rgb(153, 154, 156);
        border-radius: 50%;
        margin: 0 8px;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 100ms ease-in-out;
    }
    
    .startPage #slider #pageIndicators span:hover {
        opacity: 1;
    }
    
    .startPage #slider #pageIndicators #active {
        background: rgb(51, 135, 213);
        cursor: default;
        opacity: 1;
    }
    
    .startPage #slider > div > div {
        float: left;
        height: 100%;
        width: 50%;
        cursor: pointer;
    }

/* create-mewap.html */
    h2.create {
        text-align: center;
    }

    table.create {
        border-spacing: 15px;
    }
    
    table.create tr td {
        line-height: 1.5em;
    }
    
    table.create tr td:first-child {
        text-align: right;
    }
    
    table.create tr td.vtop {
        vertical-align: top;
    }
    
    table.create label {
        padding-left: 5px;
    }
    
    table.create input[type="text"], table.create input[type="time"], table.create input[type="datetime-local"], table.create input[type="date"] {
        font-size: 1em;
        height: 17px;
        padding: 8px;
        width: 200px;
        margin: 5px 0;
    }
    
    table.create input[type="button"]:not([value="X"]), input[type="button"].create {
        font-size: 0.8em;
        height: 37px;
        width: 120px;
        background: #2871D7;
        border: 2px #3388FF solid;
        border-radius: 5px;
        margin: 5px 0;
        color: #E6F0FF;
    }
    
    table.create input[type="button"][value="X"] {
        height: 20px;
        width: 20px;
        padding: 0;
        margin-left: 10px;
        background: #AAAAAA;
        border: 2px #999999 solid;
        border-radius: 50%;
        color: #666666;
        font-size: 0.85em;
    }
    
    div.create.btn-group {
        text-align: right;
    }
    
    input[type="button"].create.save {
        background: rgb(67, 163, 67);
        border-color: rgb(133, 219, 133);
        color: #FCFFFC;
        margin: 0 10px;
    }
    
    input[type="button"].create.cancel {
        background: rgb(255, 64, 64);
        border-color: rgb(255, 166, 166);
        color: #FFF1F1
    }
    
 /* my-mewaps.html */
    .myMewaps input[type="button"], .myMewaps button {
        font-size: 0.8em;
        height: 37px;
        width: 120px;
        background: #2871D7;
        border: 2px #3388FF solid;
        border-radius: 5px;
        margin: 5px 0;
        color: #E6F0FF;
    }
    
    .myMewaps .btn-group button:last-child {
        float: right;
    }