<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="detail">
    <h2>{{mwevent.name}}</h2>
    <p>{{mwevent.description}}</p>
    <table class="table">
        <tbody>
            <tr ng-repeat="rows in matrix" ng-init="y = $index">
                <td ng-repeat="col in rows track by $index" ng-init="x = $index" ng-class="{noDate: col === null, title: y*x === 0 && y+x !== 0}">
                    <p ng-if="y*x === 0 && col !== null">{{col}}</p>
                    <div ng-if="y*x > 0 && col !== null">
                        <p ng-class="checked[col]">{{answersPerDate[col.getTime()].length || "0"}}</p>
                        <div ng-click="addA(col)">
                            <h3>
                                {{col.getFullYear() + "-" + (col.getMonth()+1) + "-" + col.getDate()}}
                            </h3>
                            <span ng-repeat="user in answersPerDate[col.getTime()]">
                                {{user.name}}
                            </span>
                            <span>
                                (Click to accept)
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Last day to answer: </h4>
    <p>{{dl}}</p>
    <h4>Participators</h4>
        <ul>
        <li ng-repeat="p in participators">
            <p>{{p}}</p>
        </li> 
    </ul>
    <div class="btn-group answer">
        <input type="button" value="Cancel" class="btn btn-default answer cancel" ng-controller="NavigationCtrl" ng-click="navigate('/my-mewaps')"/>
        <input type="button" value="Done" class="btn btn-default answer save" ng-click="done()"/>
    </div>
</div>