<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <h2>{{mwevent.name}}</h2>
    <p>{{mwevent.description}}</p>
    <table class="table">
        <tbody>
            <tr ng-repeat="rows in matrix" ng-init="y = $index">
                <td ng-repeat="col in rows track by $index" ng-init="x = $index">
                    <p ng-if="y*x === 0 && col !== null">{{col}}</p>
                    <div ng-if="y*x > 0 && col !== null">
                        <p ng-click="addA(col)" ng-class="checked[col]">{{answersPerDate[col.getTime()].length || "0"}}</p>
                        <div>
                            {{col.getFullYear() + "-" + (col.getMonth()+1) + "-" + col.getDate()}}
                            People who have accepted
                            <span ng-repeat="user in answersPerDate[col.getTime()]">
                                {{user.name}}
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Last day to answer: </h4>
    <p>{{dl}}</p>
    <h4>Participators</h4>
        <ul>
        <li ng-repeat="p in participators">
            <p>{{p.name}} <span ng-repeat="a in mwevent.answers" ng-if=" p.email === a.user.email">  answerd</span></p>
        </li> 
    </ul>
    <div class="btn-group answer">
        <input type="button" value="Cancel" class="btn btn-default answer cancel" ng-controller="NavigationCtrl" ng-click="navigate('/my-mewaps')"/>
        <input type="button" value="Done" class="btn btn-default answer save" ng-click="done()" ng-if="mwevent.deadline > currentDate"/>
    </div>
</div>