<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <div><h2>{{mwevent.name}}</h2></div>
    <div><h3>{{mwevent.description}}</h3></div>
    <table class="table">
        <tbody>
            <tr ng-repeat="rows in matrix" ng-init="y = $index">
                <td ng-repeat="col in rows" ng-init="x = $index">
                    <p ng-click="addA(col)" ng-if="y*x > 0">#</p>
                    <p ng-if="y*x === 0">{{col}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <h4>Last day to answer: </h4>
    <p>{{dl}}</p>
    <div><h4>Participators:</h4></div>
        <ul>
        <li ng-repeat="p in participators">
            <p>{{p}}</p>
        </li> 
    </ul>
</div>