<!--Page for editing existing events-->

<!-- author Group 1:
           Emma Gustafsson
           Josefin Ondrus
           Elin Ljunggren
           Oskar Nyberg -->
<div>
     <!--body content-->
    <h2 class="create">Edit meWap</h2>
    <table class="create">
        <tr>
            <td>Name of event:</td>
            <td>
                <input ng-model="mwevent.name"  type="text" value="{{mwevent.name}}"  />
            </td>

        </tr>
        <tr>
            <td>Description of event:</td>
            <td>
                <input ng-model="mwevent.description" type="text" placeholder="Describe your event..." value="{{mwevent.description}}"/>
            </td>
        </tr>
        <tr>
            <td>Length of event: </td>
            <td>
                

                <input ng-model="mwevent.duration" type="time" step="900" value="{{mwevent.duration}}" ng-if="mwevent.allDayEvent != true"/>
                <input ng-model="mwevent.allDayEvent" type="checkbox" name="allDayEvent" value="{{mwevent.allDayEvent}}" id="allDayEvent"/>
                <label for="allDayEvent">
                    All day event
                </label><br>
            </td>
        </tr>
        <tr>
            <td class="vtop">Dates: </td>   

            <td>

                <div ng-repeat="date in dates track by $index">
                    <input ng-model="dates[$index]" type="datetime-local" value="{{dates[$index]}}" ng-if="mwevent.allDayEvent != true"/>
                    <input ng-model="dates[$index]" type="date" value="{{dates[$index]}}" ng-if="mwevent.allDayEvent == true"/>

                    <input type ="button" value="X" class="btn btn-default" ng-click="removeDateField($index)" ng-if="dates.length > 1"/>
                </div>

                <input type="button" value="Add date" class="btn btn-default" ng-click="addDateField()"/>

            </td>

        </tr>
        <tr>
            <td>
                Response deadline:
            </td>
            <td> 
                <input ng-model="mwevent.deadline" type="date" name="deadline" value="{{mwevent.deadline}}" />
                <input ng-model="mwevent.deadlineReminder" type="checkbox" name="deadlineReminder" value="{{mwevent.deadlineReminder}}" id="deadlinereminder_true" />
                 <label for ="deadlineReminder">
                     Send deadline reminder?
                 </label>
            </td>
        </tr>

        <tr>
            <td class="vtop">Email notification?</td>
            <td>
                <form>
                    <input ng-model="mwevent.notification" type="radio" name="notification" value="NO_NOTIFICATION" id="no_notification" />
                    <label for="no_notification">
                        No notification
                    </label><br />
                    <input ng-model="mwevent.notification" type="radio" name="notification" value="EACH_ANSWER" id="each_answer" />
                    <label for="each_answer">
                        Notification for every answer
                    </label><br />
                    <input ng-model="mwevent.notification" type="radio" name="notification" value="LAST_ANSWER" id="last_answer" />
                    <label for="last_answer">
                        Noification for last answer
                    </label>
                </form>
            </td>
        </tr>
        <tr>
            <td class="vtop">Invite members: </td>
            <td><div ng-repeat="text in participators track by $index">
                    <input ng-model="participators[$index]" type="email" value="{{participators[$index]}}"/>
                    <input type ="button" value="X" class="btn btn-default" ng-click="removeParticipatorField($index)"ng-if="participators.length > 1" />

                </div>
                <input type="button" value="Add member" class="btn btn-default" ng-click="addParticipatorField()"/>

            </td>
        </tr>

    </table>

    <div class="btn-group create">
        <input type="button" value="Cancel" class="btn btn-default create cancel" ng-controller="NavigationCtrl" ng-click="navigate('/my-mewaps')"/>
        <input type="button" value="Update" class="btn btn-default create update" ng-click="update()"  />
    </div>

</div>