<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="myMewaps"> 
    <h2>Old meWaps</h2>
    
    <table class="hover-table">

        <thead>
        <th colspan="3">You have participated in:</th>

            <tr>
                <th>Name</th><th>Creator</th><th>Date</th>
            </tr>               
        </thead>
        <tbody>
        <tr ng-repeat="event in oldMewaps" ng-class-odd="'odd'" 
            ng-class-even="'even'">
            <td>{{event.name}}</td>
            <td>{{event.creator.name}}</td>
            <td>{{event.deadline}}</td>
        </tr>
        
        </tbody>

    </table>
    <div class="btn-group">
        <button class="btn btn-default" ng-disabled="currentPage === 0" 
                ng-click="currentPage = currentPage - 1">
            Prev
        </button>
        <button class="btn btn-default" 
                ng-disabled="currentPage >= count / pageSize - 1"
                ng-click="currentPage = currentPage + 1"> 
            Next
        </button>
    </div>  
</div>