<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div>
    <table class="hover table">
          <thead>
        <tr>
            <th>Name</th><th>Creator</th><th>Deadline</th>
        </tr>               
        </thead>
        <tbody>
                                                                                            
            <tr ng-repeat="event in mwevent" ng-class-odd="'odd'" 
                ng-class-even="'even'" > <!--Check with DB!!-->
                <!--ng-class-even="'even'"  -->

                <td><a href="#/my-mewaps/{{event.id}}">{{event.name}}</td>
                <td>{{event.creator}}</td>
                <td>{{event.deadline}}</td>
            </tr>
        </tbody>
    </table>
    
    <input type="button" value="Create meWap" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('/create-mewap')"/> 
    
</div>
