<!-- author Group 1:
Emma Gustafsson
Josefin Ondrus
Elin Ljunggren
Oskar Nyberg -->

<div class="myMewaps">
    <h2>My meWaps</h2>
    <table>
        <thead>
            <tr>
                <th colspan="3">You are creator of:</th>
            </tr>
            <tr>
                <th>Name</th><th>Creator</th><th>Deadline</th>
            </tr>               
        </thead>

        <tbody>
            <tr ng-repeat="event in creatorOf" ng-class-odd="'odd'" 
                ng-class-even="'even'">
                <td><a href="#/my-mewaps/{{event.id}}">{{event.name}}</a></td>
                <td>{{event.creator.name}}</td>
                <td>{{event.deadline}}</td>

            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th colspan="3">You participate in:</th>
            </tr>
            <tr>
                <th>Name</th><th>Creator</th><th>Deadline</th>
            </tr> 
        </thead>
        <tbody>
            <tr ng-repeat ="event in participatorIn" ng-class-odd="'odd'"
                ng-class-even="'even'" >
                <td><a href="#/my-mewaps/{{event.id}}">{{event.name}}</a></td>
                <td>{{event.creator.name}}</td>
                <td>{{event.deadline}}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group">
        <button class="btn btn-default" ng-disabled="currentPage === 0" 
                ng-click="currentPage = currentPage - 1">
            Prev
        </button>
        <button class="btn btn-default" 
                ng-disabled="currentPage >= count / pageSize -1"
                ng-click="currentPage = currentPage + 1"> 
            Next
        </button>
    </div>   
    <input type="button" value="History" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('/history-mewap')"/>
    <input type="button" value="Create meWap" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('/create-mewap')"/> 

</div>
