<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--author elin-->
<html lang="en" ng-app="MeWap">
    <head>
        <title>meWap</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../../libs/angular.js/angular.js"></script>
        <script src="../../libs/angular.js/angular-animate.js"></script>
        <script src="../../libs/angular.js/angular-route.js"></script>
        <script src="../../libs/angular.js/angular-resource.js"></script>
        <script src="js/app.js"></script>   
        <script src="js/controllers.js"></script>  
        <script src="js/services.js"></script> 
        <script src="js/slider.js"></script>
        <link rel="stylesheet" href="css/default.css">
    </head>
    <body>
        <div>
            <header ng-controller="NavigationCtrl">
                <h1 ng-click="navigate('/start')">me<span>W</span>ap</h1>
                <a href="/meWap/logout" ng-if="loginURL.length === 0">{{loggedInUser}}</a>
                <a href="{{loginURL}}" ng-if="loginURL.length > 0">LOG IN</a>
                <nav>
                    <ul>
                       <li>
                           <a ng-click="navigate('/my-mewaps')" ng-if="menuOnPage()">My meWaps</a>
                       </li>  
                       <li>
                           <a ng-click="navigate('/create-mewap')" ng-if="menuOnPage()">Create meWap</a>
                       </li>
                    </ul>
                </nav>
            </header>
            <main ng-view></main>
            <footer>
                <div>
                    Denna sida är ett projekt i kursen Webapplikationer (DAT076)
                </div>
                <div class="contact">
                   <strong>Contact</strong>
                   <a href="mailto:elin.l.ljunggren@gmail.com">Elin Ljunggren</a>
                   <a href="mailto:emma.i.gustafsson@gmail.com">Emma Gustafsson</a>
                   <a href="mailto:josefin.ondrus@gmail.com">Josefin Ondrus</a>
                   <a href="mailto:oskar.nyberg@gmail.com">Oskar Nyberg</a>
                </div>
                <div>
                    <em>"Sen jag började använda meWap har mitt liv blivit mycket bättre!" - En nöjd användare</em>
                </div>
            </footer>
        </div>
    </body>
</html>

