<!-- author Group 1:
Emma Gustafsson
Josefin Ondrus
Elin Ljunggren
Oskar Nyberg -->
<style>
    header, footer, input[type="button"]:not(.start) {
        opacity: 0;
        transition: opacity 2s linear;
    }
    
    input[type="button"].start {
        position: relative;
        z-index: 3;
        background: none;
        border: none;
        margin-top: 100px;
        font-size: 7em;
        font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 100;
        transition: opacity 2s linear;
    }
    
    input[type="button"].start:focus {
        outline: none;
    }
    
    .presentation.startPage div#slider .text div {
        padding-top: 60px;
    }
    
    .presentation.startPage div#slider .text div h2 {
        font-size: 4em;
        margin-bottom: 20px;
    }
    
    .presentation.startPage div#slider .text div ul {   
        width: 350px;
        padding-left: 0px;
        font-size: 1.5em;
        margin: 0 auto;
    }
    
    .presentation.startPage div#slider .text div ul li {
        text-align: left;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    
    .presentation.startPage div#slider li:nth-child(2) .text div {
        padding-top: 20px;
    }
    
    .presentation.startPage div#slider li:nth-child(2) .text div h2 {
        font-size: 17em;
    }
    
    .presentation.startPage div#slider li:nth-child(3) .text div h2 {
        position: relative;
        left: -150px;
    }
    
    .presentation.startPage div#slider li:nth-child(4) .text div h2 {
        position: relative;
        left: -170px;
    }
    
    .presentation.startPage div#slider li:nth-child(5) .text div h2 {
        font-size: 5em;
        font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 100;
        margin: 80px 0;
    }
    
    .presentation.startPage div#slider li:nth-child(6) .text div h2 {
        font-size: 13em;
    }
</style>
<div class="startPage presentation">
    <div id="slider">
        <ul id="sliderContents">
            <li style="background-color: #8bdad2;">
                <div class="text">
                    <div>
                        <h2>Den Beste Grupp</h2>
                        <ul>
                            <li>Elin Ljunggren</li>
                            <li>Emma Gustafsson</li>
                            <li>Josefin Ondrus</li>
                            <li>Oskar Nyberg</li>
                        </ul>
                    </div>
                </div> 
            </li>
            <li style="background-color: #b69295;">
                <div class="text">
                    <div>
                        <h2>meWap</h2>
                    </div>
                </div> 
            </li>
            <li style="background-color: #6e92c3;">
                <div class="text">
                    <div>
                        <h2>Syfte</h2>
                        <ul>
                            <li>Koordinera event/möten smidigt</li>
                            <li>Bjuda in till event/möten</li>
                            <li>Enkelt svara på inbjudningar</li>
                        </ul>
                    </div>
                </div> 
            </li>
            <li style="background-color: #a6a2ee;">
                <div class="text">
                    <div>
                        <h2>Mål</h2>
                        <ul>
                            <li>Simpelt, till och med en bebis skall kunna använda det</li>
                            <li>Smidigare än Doodle</li>
                        </ul>
                    </div>
                </div> 
            </li>
            <li style="background-color: rgb(23, 22, 48)">
                <div class="text">
                    <div>
                        <h2>Even easier scheduling</h2>
                    </div>
                </div> 
            </li>
            <li style="background-color: #f69e74;">
                <div class="text">
                    <div>
                        <h2>mewap.se</h2>
                    </div>
                </div> 
            </li>
            <li style="background-color: #8bdad2;">
                <input type="button" value="Go to mewap.se &#10230;" class="btn btn-default start" ng-click="goToStart()"/>
            </li>
        </ul>
        <div id="arrows">
            <div onclick="prevImage(); startTimer();">
                <div></div>
            </div>
            <div onclick="nextImage(); startTimer();">
                <div></div>
            </div>
        </div>
        <div id="pageIndicators">
            <!-- Page indicators are autogenerated -->
        </div>
    </div>
    <input type="button" value="Get started!" class="btn btn-default" ng-controller="AuthCtrl" ng-click="login()"/>
</div>
