<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- author Emma-->
<div>
    <!--body content-->
    <h1>Create new meWap</h1>
        
    <table class="table">
        <tr>
            <td>name:</td>
            <td>
                <br><input ng-model="mwEvent.name" type="text" placeholder="Enter name..." value="{{mwEvent.name}}"><br>
            </td>
        </tr>
        <tr>
            <td>description:</td>
            <td>
                <br><input ng-model="mwEvent.description" type="text" placeholder="Describe your event..." value="{{mwEvent.description}}"><br>
            </td>
        </tr>
        <tr>
            <td>event length: </td>
            <td>
                <br><input ng-model="mwEvent.duration" type="number" min="1" placeholder="Duration..." value="{{mwEvent.duration}}"><br>
            </td>
        </tr>
        <tr>
            <td>dates: </td>
            <td>
                <br><input ng-model="mwEvent.dates" type="date" placeholder="{{googlecal.todays}}" value="{{mwEvent.dates}}"><br><br>
            </td>
        </tr>

    </table>
    <div class="btn-group">
        <input type="button" value="Cancel" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('/mymewaps')"/>
        <input type="button" value="Save" class="btn btn-default" ng-click="save()"/>
    </div>
</div>