<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- author Emma-->
<div>
    <!--body content-->
    <h2>Create new meWap</h2>

    <table class="table">
        <tr>
            <td>Name of event:</td>
            <td>
                <br><input ng-model="mwEvent.name" type="text" placeholder="Enter name..." value="{{mwEvent.name}}"/><br>
            </td>
        </tr>
        <tr>
            <td>Description of event:</td>
            <td>
                <br><input ng-model="mwEvent.description" type="text" placeholder="Describe your event..." value="{{mwEvent.description}}"/><br>
            </td>
        </tr>
        <tr>
            <td>Length of event: </td>
            <td>
                <br><input ng-model="mwEvent.duration" type="time" step="900" value="{{mwEvent.duration}}"/><br>
            </td>
        </tr>
        <tr>
            <td>Dates: </td>
            <td>
                <div ng-repeat="date in dates track by $index">
                    <br><input ng-model="dates[$index]" type="datetime-local" /><br>
                </div>
                <input type="button" value="addDate" class="btn btn-default" ng-click="addDateField()"/>
            </td>

        </tr>
        <tr>
            <td>
                Response deadline:
            </td>
            <td> 
                <br><input ng-model="mwEvent.deadline" type="datetime-local" value="{{mwEvent.deadline}}"/><br>
            </td>
        </tr>
        <tr>
            <td>
                Send participators deadline reminder?:</td>
            <td>
                <br>
                <form>
                    Yes:<input ng-model="mwEvent.deadlineReminder" type="radio" name="deadlinereminder" value="true"/>
                    No:<input ng-model="mwEvent.deadlineReminder" type="radio" name="deadlinereminder" value="false"/>
                </form>
                <br>    
            </td>
        </tr>
       <tr>
            <td>Notify participators?</td>
            <br><td>
                <br> <form>
                    No notification: <input ng-model="mwEvent.notification" type="radio" name="notification" value="NO_NOTIFICATION"/><br>
                    Notification for every answer: <input ng-model="mwEvent.notification" type="radio" name="notification" value="EACH_ANSWER"/><br>
                    Noification for last answer: <input ng-model="mwEvent.notification" type="radio" name="notification" value="LAST_ANSWER"/><br>

                </form><br>
            </td>
        </tr>
        <tr>
            <td>Invite members: </td>
            <td><div ng-repeat="text in participators track by $index">
                <br><input ng-model="participators[$index]" type="text" value="{{participators[$index]}}"/><br>
                </div>
                <input type="button" value="add Member" class="btn btn-default" ng-click="addParticipatorField()"/>

            </td>
        </tr>
       
    </table>
    <div class="btn-group">
        <input type="button" value="Cancel" class="btn btn-default" ng-controller="NavigationCtrl" ng-click="navigate('/my-mewaps')"/>
        <input type="button" value="Save" class="btn btn-default" ng-click="save()"/>
        <br><br>
    </div>
    
</div>